#webcam {

    width: 100%;
    height: 100%;

}
.video-container {
    position: absolute;
    width: 60px; /* Ajuste conforme necessário */
    height: 480px; /* Ajuste conforme necessário */
}

#canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 640px;
    height: 480px;
    /* Altura do canvas - ajuste conforme necessário */
    background-color: rgba(218, 22, 22, 0.5);
    /* Cor de fundo do canvas */
}