<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding camera-content">
  <div class="video-container">

    <video #video id="webcam"  autoplay></video>
    <canvas #canvas id="canvas" ></canvas>
  </div>

  <ion-list>
    <ion-item>
      <ion-select (ionChange)="handleChange($event)" label="Default label" placeholder="Favorite Fruit">
        <ion-select-option  *ngFor="let exercise of listExercises" [value]="exercise">{{exercise}}</ion-select-option>
        
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
