video, canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
  }
  
  canvas {
    aspect-ratio: attr(width) / attr(height); /* Isso define a proporção de aspecto do canvas com base nas dimensões do vídeo */
    background-color: rgba(22, 35, 218, 0.5)
}