<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding camera-content">
  <div class="video-container">
    <video #video id="webcam" class="inverted" autoplay></video>
    <canvas #canvas id="canvas" class="inverted"></canvas>
    <canvas #canvasRepetitions id="canvasRepetitions"></canvas>
  </div>
  <ion-button shape="round" (click)="stopWorkout()">Stop</ion-button>
  <ion-list>
    <ion-item>
      <ion-select (ionChange)="handleChange($event)" label="Default label" placeholder="Favorite Fruit">
        <ion-select-option  *ngFor="let exercise of listExercises" [value]="exercise">{{exercise}}</ion-select-option>
        
      </ion-select>
    </ion-item>
  </ion-list>

</ion-content>
