<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Nome do aplicativo -->
    <ion-title id="logo" class="ion-text-center">Tr<span>AI</span>ner</ion-title>
  </ion-toolbar>
</ion-header>
<ion-img src=""></ion-img>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="logo-container">
    <img src="assets/imgs/logo.png" alt="Logo do aplicativo" class="logo">
  </div>
  
  <!-- Botão Iniciar -->
  <ion-button expand="full" color="primary" routerLink="exercise-selection">
    <ion-icon slot="start" name="play"></ion-icon>
    Iniciar
  </ion-button>
</ion-content>