<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Status do treino -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Status do Treino</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Quantidade de exercícios -->
      <p><ion-icon name="barbell-outline"></ion-icon> Quantidade de exercícios: NULL</p>

      <!-- Exercício atual -->
      <p><ion-icon name="body-outline"></ion-icon> Exercício atual: NULL</p>

      <!-- Data/Hora -->
      <p><ion-icon name="calendar-outline"></ion-icon> Data/Hora: NULL</p>

      <!-- Tempo de treino -->
      <p><ion-icon name="time-outline"></ion-icon> Tempo de treino: NULL</p>

      <!-- Gastos calóricos -->
      <p><ion-icon name="flame-outline"></ion-icon> Gastos calóricos: NULL</p>
    </ion-card-content>
  </ion-card>
</ion-content>