<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>exerciseSelection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">exerciseSelection</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let exercise of allExercises">
      <ion-button fill="clear" (click)="selectExercise(exercise)">
        {{ exercise }}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>